@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
    background: $background-blue;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: $background-blue;
    color: $white;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter {
    background: url(../assets/img/water-glass.svg);
    background-size: contain;
    height: 280px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 63px;
    font-size: 112px;
    font-size: 5rem;
    color: #000000;
}

// !OLD
.button {
    &-add {
        min-height: 47px;
        min-width: 216px;
        background-color: #FFFFFF;
        font-size: 18px;
        margin: 48px 0 36px 0;
        border: none;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    // &-close {
    //     color: black;
    //     font-size: 14px;
    //     background-color: white;
    //     border: none;
    // }
    &-history {
        color: $white;
        font-size: 14px;
        background-color: $background-blue;
        border: none;
    }
    &-remove {
        color: $white;
        font-size: 14px;
        background-color: $background-blue;
        border: none;
    }
}

// .counter {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
// .counter__water {
//     position: relative;
// }
// .counter__number {
//     font-size: 112px;
//     position: absolute;
//     font-size: 5rem;
//     color: #000000;
//     bottom: 50%;
// }
// .history {
//     list-style-type: none;
//     padding: 32px 0 0 0;
//     margin: 0;
// }
// .wrapper {
//     color: black;
//     background-color: white;
//     display: none;
//     position: absolute;
//     z-index: 2;
//     padding: 16px;
//     border-radius: 8px;
//     min-height: 60vh;
//     &--visible {
//         display: block;
//     }
// }
// .lama {
//     display: flex;
//     justify-content: space-between;
// }